body {
    background-color: #55CCFF;
}

#wrap {
    margin: 0 auto;
    width: 800px;
}

ul {
    text-align: center;
    list-style: none;
    text-transform: capitalize;
}

li::first-letter {
    font-size: 150%;
}

p, ul {
    font-family: Arial, Helvetica, sans-serif;
}